# macOS
.DS_Store
.AppleDouble
.LSOverride

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
venv_SOUL/
venv_FUSE/
v/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# R
.RData
.Rhistory
.Rapp.history
.Ruserdata
.Rapp.history

# Jupyter Notebook
.ipynb_checkpoints

# PyTorch / Machine Learning
**/*.pt
*.pth
*.h5
*.hdf5
*.ckpt

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# Project Specific
miscellaneous/

# Benchmark Models - Ignore all except implementation
benchmark models/**
!benchmark models/**/
!benchmark models/**/benchmark implementation/**

# Notes
*notes*.txt
notes.txt
*.notes
